# File: docs/requirements.txt

# Defining the exact version will make sure things don't break
sphinx==5.3.0
sphinx_rtd_theme==1.2.0
urllib3<=2.0.0
openssl-python>=0.1.1
sphinx-notfound-page
Pygments>=2.4.0
sphinx-copybutton>=0.5.2
furo>=2023.3.27
sphinx-inline-tabs>=2023.4.21
sphinx-favicon>=1.0.1
sphinxemoji.sphinxemoji>=0.2.0